{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Repuzzle</title>
</head>
<body>
    
    <!--Messages-->
    <!--
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert">
            {{ message }}
            <span class="closebtn">&times;</span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
-->
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">RePuzzle</a>

        <!-- Navbar -->
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">o nas</a>
            <a href="#">puzzle</a>
            <a href="#">kategorie</a>
            <a href="#">sprzedaj</a>
            <a href="#">kontakt</a>
            {% if user.is_authenticated %}
            <a href="#">wyloguj</a>
            {% else %}
            <a href="{% url 'login_user' %}">zaloguj</a>
            {% endif %}
        </nav>

        <!-- Icons -->
        <div class = "icons">
          <div class="fas fa-search" id="search-btn"></div>
          <div class="fas fa-shopping-cart" id="cart-btn"></div>
          <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
          <input type="search" id="search-box" placeholder="Szukaj tutaj...">
          <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}


    <!-- Stopka -->

    <section class="footer">

      <div class="media">
        <a href="#" class = "fab fa-facebook-f"></a>
        <a href="#" class = "fab fa-instagram"></a>
      </div>

      <div class="links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Puzzle</a>
        <a href="#">Kategorie</a>
        <a href="#">Sprzedaj</a>
        <a href="#">Kontakt</a>
      </div>

      <div class="privacy">
        <a href="#">Regulamin</a>
        <a href="#">Polityka prywatności</a>
      </div>

      <div class="credit">
        @RePuzzle
      </div>
    </section>


    <script src="static/js/script.js"></script>

  <!--  
    <script>

      document.querySelectorAll('.closebtn').forEach(function(button) {
      button.onclick = function() {
        const alert = this.parentElement;
        alert.classList.add('fadeout');
        setTimeout(function() {
          alert.style.display = 'none';
        }, 600);
      };
    });
    
    </script>
    -->
</body>
</html>