{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Repuzzle</title>
</head>
<body>
    
    <!--Messages-->


      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %}
          <div class="alert alert-success show">
            <span class="fa fa-check-circle"></span>
            <span class="message">{{ message }}</span>
            <div class="close-btn">
              <span class="fas fa-times"></span>
            </div>
          </div>

          {% elif message.tags == "error" %}
          <div class="alert alert-error show">
            <span class="fa fa-minus-circle"></span>
            <span class="message">{{ message }}</span>
            <div class="close-btn">
              <span class="fas fa-times"></span>
            </div>
          </div>

          {% else %}
          <div class="alert alert-warning show">
            <span class="fa fa-exclamation-circle"></span>
            <span class="message">{{ message }}</span>
            <div class="close-btn">
              <span class="fas fa-times"></span>
            </div>
          </div>

          {% endif %}
        {% endfor %}
      {% endif %}
  
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">RePuzzle</a>

        <!-- Navbar -->
        <nav class="navbar">
            <a href="{% url 'home' %}#home">home</a>
            <a href="{% url 'home' %}#about">o nas</a>
            <a href="{% url 'home' %}#news">nowości</a>
            <a href="{% url 'puzzle_list' %}">puzzle</a>

            <a href="#">kategorie</a>
            <a href="{% url 'add_puzzle' %}">sprzedaj</a>
            <a href="{% url 'home' %}#contact">kontakt</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout_user' %}">wyloguj</a>
            {% else %}
            <a href="{% url 'login_user' %}">zaloguj</a>
            {% endif %}
        </nav>

        <!-- Icons -->
        <div class = "icons">
          <div class="fas fa-search" id="search-btn"></div>
          <div class="fas fa-shopping-cart" id="cart-btn"></div>
          {% if user.is_authenticated %}
          <div class="fas fa-user" id="user-btn">
          {% endif %}
            <div class="user-profile">
              <a href="{% url 'user_profile' %}"> Mój profil</a>
              <a href="#">Moje puzzle</a>
              <a href="#">Moje zamówienia</a>
              <a href="{% url 'update_info' %}">Zaktualizuj profil</a>
              <a href="{% url 'update_password' %}">Zaktualizuj hasło</a>
            </div> 
          </div>
          <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
          <input type="search" id="search-box" placeholder="Szukaj tutaj...">
          <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}


    <!-- Stopka -->

    <section class="footer">

      <div class="media">
        <a href="#" class = "fab fa-facebook-f"></a>
        <a href="#" class = "fab fa-instagram"></a>
      </div>

      <div class="links">
        <a href="{% url 'home' %}#home">Home</a>
        <a href="{% url 'home' %}#about">O nas</a>
        <a href="{% url 'home' %}#news">Nowości</a>
        <a href="{% url 'puzzle_list' %}">Puzzle</a>

        <a href="#">Kategorie</a>
        <a href="{% url 'add_puzzle' %}">Sprzedaj</a>
        <a href="{% url 'home' %}#contact">Kontakt</a>
      </div>

      <div class="privacy">
        <a href="#">Regulamin</a>
        <a href="#">Polityka prywatności</a>
      </div>

      <div class="credit">
        @RePuzzle
      </div>
    </section>


    <script src="../static/js/script.js"></script>

</body>
</html>