{% extends 'base.html' %}

{% block content %}
<div class="container">
<!-- Home section -->
    <section class="home" id="home">

      <div class="content">
        <h1>RePuzzle</h1>
        <h3>Daj swoim puzzlom nowe życie!</h3>
        <a href="#about">Dowiedz się więcej</a>
      </div>
    </section>

<!-- Home section end-->


<!-- About section -->
    <section class="about" id="about">
      <div class="content">
        <h1 class = "heading">Witajcie w RePuzzle!</h1>
        <h3>Pudełka z puzzlami zalegają Ci w szafie, a układanie kolejny raz tego samego obrazka nie sprawia Ci już przyjemności? 
            Mamy rozwiązanie!
        </h3>
        <p> Witaj w naszym wyjątkowym zakątku dla miłośników puzzli! Nasza platforma powstała z myślą o wszystkich, którzy z pasją układają puzzle i szukają sposobu na ich rotację w swojej kolekcji. RePuzzle to miejsce, gdzie możesz łatwo kupować i sprzedawać puzzle, dzieląc się swoją pasją z innymi.
        </p>
        <p> Dzięki platformie, każdy zestaw może znaleźć nowego właściciela, a Ty zyskujesz możliwość poznania nowych, fascynujących układanek bez konieczności ciągłego powiększania swojej kolekcji. To nie tylko oszczędność miejsca i pieniędzy, ale także ekologiczny sposób na rozwijanie swojego hobby. Dołącz do nas i odkryj, jak wiele radości może dać wymiana puzzli!
        </p>
        <div class="link-container">
            <a href="{% url 'puzzle_list' %}">Przeglądaj puzzle</a>
            <a href="{% url 'add_puzzle' %}">Sprzedaj puzzle</a>
        </div>
      </div>
    </section>
<!-- About section ends-->

<!-- News section -->
<section class="news" id="news">
  
  <h3>NOWOŚCI</h3>
  <div class="puzzle-box-container">
    {% for puzzle in puzzles %}
        <div class="puzzle-box">
            <div class="puzzle-image">
                <img src="{{ puzzle.image.url }}">
            </div>
            <div class="puzzle-content">
                <h3>{{ puzzle.name }}</h3>
                <div class="price">{{ puzzle.price }} zł</div>
                <div class="link-container">
                    <a href="{% url 'puzzle' puzzle.id %}">Szczegóły</a>
                    <a href="#" id="cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            
        </div>
      {% endfor %}
  </div>
</section>
<!-- Puzzle section ends -->

<!-- Contact section -->
<section class="contact" id="contact">
  <div class="content">

  </div>
</section>
<!-- Contact section ends -->
</div>


{% endblock %}