{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Log in form -->
<section class="login">
    <div class="login-signup-container">
        <div class="content">
            <div class="forms-container">
                <form method="POST" action="{% url 'login_user' %}" class="log-in-form">
                    {% csrf_token %}
                    <h2 class="title">Zaloguj się</h2>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" id="username" name="username" placeholder="Nazwa użytkownika" required>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="Hasło" required>
                    </div>

                    <button type="submit" class="btn-submit">Zaloguj się</button>
                    <p class="text-register">Nie masz konta? <a href="{% url 'register_user' %}">Zarejestruj się</a></p>

                </form>
            </div>

            <div class="img-container">
                <img src="{% static 'images/puzzle_login.webp' %}">
            </div>
        </div>
    </div>
</section>
{% endblock %}
