{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="puzzle-info">
    <div class="puzzle-info-container">
        {% if puzzle %}
            <div class="content">
                <div class="puzzle-details-container">
                    <div class="puzzle-title">{{ puzzle.name }}</div>
                    <p class="puzzle-details">Producent: {{ puzzle.brand }}</p>
                    <p class="puzzle-details">Kategorie:    {% for category in puzzle.category.all %}
                                                                {{ category.name }}
                                                                {% if not forloop.last %}   
                                                                    , 
                                                                {% endif %}
                                                            {% endfor %}
                    </p>
                    <p class="puzzle-details">Stan: {{ puzzle.condition }}</p>
                    <p class="puzzle-details">Cena: {{ puzzle.price }}</p>
                    <p class="puzzle-details">Właściciel: <a href="#"> {{ puzzle.owner }} </a></p>
                    <button type="button" class="btn-submit add-to-cart">Dodaj do koszyka <i class="fas fa-shopping-cart"></i></button>
                    
                    <p class="small-text">Wystawiono na sprzedaż: {{ puzzle.added_at}}</p>
                </div>
                <div class="puzzle-img-container">
                    <img src="{{ puzzle.image.url }}">
                </div>

                <div class="puzzle-description-container">
                    <p class="puzzle-details">Opis: </p>
                    <p class="puzzle-details">{{ puzzle.description }}</p>
                    
                </div>
            </div>
        {% else %}
        <div class="no-puzzle-message-container">
            <h1>Puzzle, których szukasz nie są już dostępne...</h1>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}