{% extends 'base.html' %}
{% block content %}
{% load static %}


<section class = "puzzle">
    <div class="puzzle-box-container">
        {% if page_obj %}
            {% for puzzle in page_obj %}
                <div class="puzzle-box">
                    <div class="puzzle-image">
                        <img src="{{ puzzle.image.url }}">
                    </div>
                    <div class="puzzle-content">
                        <h3>{{ puzzle.name }}</h3>
                        <div class="price">{{ puzzle.price }} zł</div>
                        <div class="link-container">
                            <a href="{% url 'puzzle' puzzle.id %}">Szczegóły</a>
                            <button type="button" class="cart"><i class="fas fa-shopping-cart"></i></button>
                            
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
            {% else %}
            <div class="no-puzzle-message-container">
                <h1>Aktualnie nie ma puzzli w tej kategorii.</h1>
            </div>
            {% endif %}


    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
        {% endif %}
        
        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">następna</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
        
        </span>
    </div>

</section>


{% endblock %}