{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="add-puzzle">
    <div class="box">
        <div class="forms-container-puzzle">
            <form method="POST" action="{% url 'update_password' %}" class="add-puzzle-form">
                {% csrf_token %}
                            
                <!-- Formularz -->
                <div class="title">Wypełnij formularz, aby zaktualizować swoje hasło.</div>

                <!-- Nowe hasło 1 -->
                <div class="label">Wpisz nowe hasło</div>
                    <div class="input-field">
                        {{ form.new_password1}}
                    </div>

                <!-- Nowe hasło 2  -->
                <div class="label">Potwierdź nowe hasło</div>
                <div class="input-field">
                    {{ form.new_password2}}
                </div>

                <button type="submit" class="btn-submit">Zaktualizuj hasło</button>
            </form>
        </div>
    </div>
    
</section>
{% endblock %}